#footer {
  text-align: center;
  padding-bottom: 80px;
}

#footer ul.footer-links {
  list-style: none;
  text-align: center;
}

#footer ul.footer-links li {
  display: inline;
  text-align: center;
}

#footer ul.footer-links li a {
    display: inline-block;
    padding: 10px;
}

/*
 Override YARD styles to fix what we changed
 */

#full_list ul {
    /* Fix spacing issues around nested side links. */
    /* This is an area where normalize conflicts with YARD's expectations. */
    margin: 0;
}

.nav-wrap, #main {
     padding-top: 50px;
}

#search {
    top: 50px;
}

#nav {
     top: 90px;
}

#main #header #menu {
    margin-right: 50px
}

/*
 Override YARD styles for nav iframe
 */

/* Ensure all items show since we drop it down */
#full_list {
    margin-bottom: 70px;
}

@media only screen and (min-width: 50em) {

    .nav-wrap, #main {
         padding-top: 70px;
    }

    #search {
        top: 80px;
    }

    #nav {
         top: 120px;
    }
}

@media only screen and (min-width: 920px) {

    #nav {
         top: 70px;
    }
}
