--no-private
--title="Gemini Enterprise for Customer Experience V1 API"
--exclude _pb\.rb$
--markup markdown
--markup-provider redcarpet

./lib/**/*.rb
./proto_docs/**/*.rb
-
README.md
LICENSE.md
AUTHENTICATION.md
