runtime: ruby
env: flex
entrypoint: bash -c "cd google-cloud-debugger; bundle update; bundle exec rake recompile; cd ../integration/rails5_app; bundle install; bundle exec rackup -p 8080 config.ru"
health_check:
  enable_health_check: False
