<div class="buttons">
  <a href="http://googlecloudplatform.github.io/gcloud-ruby/docs/versions" class="v-btn">
    <img src="http://googlecloudplatform.github.io/gcloud-ruby/img/icon-arrow-bullet.svg" />
    Version History
  </a>
  <a href="https://github.com/GoogleCloudPlatform/gcloud-ruby/issues/new?title=%5BDocumentation+Issue%5D+" target="_blank" class="v-btn">
    <img src="http://googlecloudplatform.github.io/gcloud-ruby/img/icon-link-github.svg" />
    Report an Issue
  </a>
</div>
