<!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<header class="page-header fixed" role="banner">
  <h1 class="logo">
    <a href="/gcloud-ruby/" title="back to home">
      <img src="/gcloud-ruby/img/logo.svg" alt="Google Cloud Platform">
      <span class="gcloud">gcloud</span>
    </a>
  </h1>

  <nav class="main-nav">
    <div class="nav-current">Ruby</div>
    <ul class="menu">
      <li>
        <a href="/gcloud-node/" title="gcloud-node">
          <img src="/gcloud-ruby/img/icon-lang-nodejs.svg" alt="Node.js icon" class="menu-icon">
          Node.js
        </a>
      </li>
      <li>
        <a href="/gcloud-python/" title="gcloud-python">
          <img src="/gcloud-ruby/img/icon-lang-python.svg" alt="Python icon" class="menu-icon">
          Python
        </a>
      </li>
      <li>
        <a href="/gcloud-ruby/" title="gcloud-ruby">
          <img src="/gcloud-ruby/img/icon-lang-ruby.svg" alt="Ruby icon" class="menu-icon" width="24">
          Ruby
        </a>
      </li>
    </ul>
  </nav>

  <div class="github-issue">
    <a href="https://github.com/GoogleCloudPlatform/gcloud-ruby/issues/new?title=%5BDocumentation+Issue%5D+" target="_blank" class="v-btn">
      <img src="/gcloud-ruby/img/icon-link-github.svg" />
      Report an Issue
    </a>
  </div>
</header>
