<% if current.type == 'class' %>
  <%# Parent Class %>
  <div id="parent-class-section" class="section">
    <h3 class="section-header">Parent</h3>
    <% if current.superclass and not String === current.superclass %>
      <p class="link"><a href="<%= current.aref_to current.superclass.path %>"><%= current.superclass.full_name %></a></p>
    <% else %>
      <p class="link"><%= current.superclass %></p>
    <% end %>
  </div>
<% end %>
