Gemfile.lock
keyfile.json
coverage/*
doc/*
pkg/*
html/*
jsondoc/*

# Ignore vagrant directory
.vagrant

# Ignore YARD stuffs
.yardoc

# Ignore devsite/cloudrad stuffs
*/docs.metadata

# directories left by gh-pages
_site/*
.DS_STORE

# Ignore stuff left by synth
__pycache__

# Ignore bundler directory
*/.bundle/
*/vendor/bundle
*/lib/bundler/man/

node_modules
package-lock.json

# Ignore RubyMine project files
.idea

/tmp
