# Dependency installations and lockfiles
Gemfile.lock
.bundle/
/*/vendor/bundle/
/*/lib/bundler/man/
package-lock.json
node_modules/

# Build and test artifacts
/*/coverage/
/*/doc/
/*/pkg/
/*/html/
/*/jsondoc/
/*/.yardoc/
/*/docs.metadata
_site/
__pycache__/

# Environment and dev tool artifacts
.vagrant
.idea
.DS_STORE
keyfile.json

# Other stuff
/tmp
