--no-private
--title=Google Cloud
--exclude lib/api
--exclude lib/datastore
--exclude lib/devtools
--exclude lib/example
--exclude lib/iam
--exclude lib/logging
--exclude lib/longrunning
--exclude lib/protobuf
--exclude lib/pubsub
--exclude lib/rpc
--exclude lib/type
--markup markdown

./lib/**/*.rb
-
README.md
OVERVIEW.md
AUTHENTICATION.md
