--no-private
--title=Google Cloud Datastore
--exclude lib/google/datastore
--exclude lib/google/cloud/datastore/v1
--exclude lib/google/cloud/datastore/v1.rb
--markup markdown

./lib/**/*.rb
-
README.md
