<h1 class="logo">
  <a href="/google-cloud-ruby/" title="back to home">
    <img src="/google-cloud-ruby/img/logo.svg" alt="Google Cloud Platform">
    <span class="site-name">Google Cloud</span>
  </a>
</h1>

<nav class="main-nav">
  <div class="nav-current">Ruby</div>
  <div class="menu">
    <ul>
      <li>
        <a href="/google-cloud-dotnet/" title="google-cloud-dotnet">
          <img src="/google-cloud-ruby/img/icon-lang-dotnet.svg" alt=".NET icon" class="menu-icon" />
          .NET
        </a>
      </li>
      <li>
        <a href="https://googlecloudplatform.github.io/google-cloud-cpp/" title="google-cloud-cpp">
          <img src="/google-cloud-ruby/img/icon-lang-cpp.svg" alt="C++ icon" class="menu-icon" />
          C++
        </a>
      </li>
      <li>
        <a href="https://googlecloudplatform.github.io/google-cloud-go/" title="google-cloud-go">
          <img src="/google-cloud-ruby/img/icon-lang-go.svg" alt="Go icon" class="menu-icon" />
          Go
        </a>
      </li>
      <li>
        <a href="/google-cloud-java/" title="google-cloud-java">
          <img src="/google-cloud-ruby/img/icon-lang-java.svg" alt="Java icon" class="menu-icon" />
          Java
        </a>
      </li>
      <li>
        <a href="/google-cloud-node/" title="google-cloud-node">
          <img src="/google-cloud-ruby/img/icon-lang-nodejs.svg" alt="Node.js icon" class="menu-icon">
          Node.js
        </a>
      </li>
      <li>
        <a href="/google-cloud-php/" title="google-cloud-php">
          <img src="/google-cloud-ruby/img/icon-lang-php.svg" alt="PHP icon" class="menu-icon" />
          PHP
        </a>
      </li>
      <li>
        <a href="/google-cloud-python/" title="google-cloud-python">
          <img src="/google-cloud-ruby/img/icon-lang-python.svg" alt="Python icon" class="menu-icon">
          Python
        </a>
      </li>
      <li>
        <a href="/google-cloud-ruby/" title="google-cloud-ruby">
          <img src="/google-cloud-ruby/img/icon-lang-ruby.svg" alt="Ruby icon" class="menu-icon">
          Ruby
        </a>
      </li>
    </ul>
  </div>
</nav>
