<h1 class="logo">
  <a href="/google-cloud-ruby/" title="back to home">
    <img src="/google-cloud-ruby/img/logo.svg" alt="Google Cloud Platform">
    <span class="site-name">Google Cloud</span>
  </a>
</h1>

<nav class="main-nav">
  <div class="nav-current">Ruby</div>
  <div class="menu">
    <ul>
      <li>
        <a href="/gcloud-java/" title="gcloud-java">
          <img src="/google-cloud-ruby/img/icon-lang-java.svg" alt="Java icon" class="menu-icon" />
          Java
        </a>
      </li>
      <li>
        <a href="/gcloud-node/#/docs" title="gcloud-node">
          <img src="/google-cloud-ruby/img/icon-lang-nodejs.svg" alt="Node.js icon" class="menu-icon">
          Node.js
        </a>
      </li>
      <li>
        <a href="/gcloud-python/latest/" title="gcloud-python">
          <img src="/google-cloud-ruby/img/icon-lang-python.svg" alt="Python icon" class="menu-icon">
          Python
        </a>
      </li>
      <li>
        <a href="/google-cloud-ruby/" title="google-cloud-ruby">
          <img src="/google-cloud-ruby/img/icon-lang-ruby.svg" alt="Ruby icon" class="menu-icon">
          Ruby
        </a>
      </li>
    </ul>
  </div>
</nav>
