<nav class="main-nav">
  <div class="nav-current">Ruby</div>
  <ul class="menu">
    <li>
      <a href="/gcloud-node/" title="gcloud-node">
        <img src="{{ "/img/icon-lang-nodejs.svg" | prepend: site.baseurl }}" alt="Node.js icon" class="menu-icon" />
        Node.js
      </a>
    </li>
    <li>
      <a href="/gcloud-python/" title="gcloud-python">
        <img src="{{ "/img/icon-lang-python.svg" | prepend: site.baseurl }}" alt="Python icon" class="menu-icon" />
        Python
      </a>
    </li>
    <li>
      <a href="/gcloud-ruby/" title="gcloud-ruby">
        <img src="{{ "/img/icon-lang-ruby.svg" | prepend: site.baseurl }}" alt="Ruby icon" class="menu-icon" width="24" />
        Ruby
      </a>
    </li>
  </ul>
</nav>
