# Format: //devtools/kokoro/config/proto/build.proto

# Build logs will be here
action {
  define_artifacts {
    regex: "**/*sponge_log.xml"
  }
}

# Use the trampoline script to run in docker.
build_file: "google-cloud-ruby/.kokoro/trampoline.sh"

# Download resources for system tests (service account key, etc.)
gfile_resources: "/bigstore/cloud-devrel-kokoro-resources/google-cloud-ruby"

# Download trampoline resources.
gfile_resources: "/bigstore/cloud-devrel-kokoro-resources/trampoline"

# Configure the docker image for kokoro-trampoline.
env_vars: {
    key: "TRAMPOLINE_IMAGE"
    value: "gcr.io/cloud-devrel-kokoro-resources/yoshi-ruby/multi-node"
}

env_vars: {
    key: "TRAMPOLINE_BUILD_FILE"
    value: "github/google-cloud-ruby/.kokoro/build.sh"
}

env_vars: {
    key: "TRAMPOLINE_SCRIPT"
    value: "trampoline_v1.py"
}

env_vars: {
    key: "JOB_TYPE"
    value: "samples_latest"
}

env_vars: {
    key: "OS"
    value: "linux"
}

env_vars: {
    key: "REPO_DIR"
    value: "github/google-cloud-ruby"
}

# Fetch the token needed for reporting release status to GitHub
before_action {
  fetch_keystore {
    keystore_resource {
      keystore_config_id: 73713
      keyname: "yoshi-automation-github-key"
    }
  }
}
