--no-private
--title=Google Cloud Pub/Sub
--exclude lib/google/pubsub
--exclude lib/google/iam
--exclude lib/google/cloud/pubsub/v1
--exclude lib/google/cloud/pubsub/v1.rb
--markup markdown

./lib/**/*.rb
-
README.md
