<% if current.includes.any? %>
  <h3>Included Modules</h3>
  <ul class="includes">
    <% current.each_include do |inc| %>
      <% unless String === inc.module %>
        <li class="include"><a href="<%= current.aref_to inc.module.path %>"><%= inc.module.full_name %></a></li>
      <% else %>
        <li class="include"><%= inc.name %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
