--no-private
--title="Identity and Access Management (IAM) V3 API"
--exclude _pb\.rb$
--markup markdown
--markup-provider redcarpet

./lib/**/*.rb
./proto_docs/**/*.rb
-
README.md
LICENSE.md
AUTHENTICATION.md
