<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

  {% include head.html %}

  <body class="yard-main">

    <header class="page-header fixed" role="banner">
      {% include header.html %}

      <div class="github-issue">
        <a href="https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/new?title=%5BDocumentation+Issue%5D+" target="_blank" class="v-btn">
          <img src="/google-cloud-ruby/img/icon-link-github.svg" />
          Report an Issue
        </a>
      </div>
    </header>

    {{ content }}

    {% include footer.html %}

  </body>

</html>
