apiVersion: v1
kind: ReplicationController
metadata:
  name: %{image_name}
  labels:
    name: %{image_name}
spec:
  replicas: 1
  selector:
    name: %{image_name}
  template:
    metadata:
      labels:
        name: %{image_name}
    spec:
      containers:
      - name: %{image_name}
        image: %{image_location}
        ports:
        - containerPort: 8080
