name: Bump-Version
on:
  workflow_dispatch:
    inputs:
      gems:
        description: "Gems to bump (required)"
        required: true
      version:
        description: "Version to bump to (required)"
        required: true
      args:
        description: "Extra command line arguments"
        required: false

jobs:
  bump-version:
    if: ${{ github.repository == 'googleapis/google-cloud-ruby' }}
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.YOSHI_CODE_BOT_TOKEN }}
      APPROVAL_GITHUB_TOKEN: ${{secrets.YOSHI_APPROVER_TOKEN}}
    steps:
      - name: Checkout repo
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4
      - name: Install Ruby 3.2
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.2"
      - name: Install tools
        run: |
          gem install --no-document toys
      - name: execute
        run: |
          toys bump-version -v --fork \
            --version "${{ github.event.inputs.version }}" \
            ${{ github.event.inputs.args }} -- \
            ${{ github.event.inputs.gems }}
