name: OwlBot Manual Run

on:
  workflow_dispatch:
    inputs:
      gems:
        description: "List of gems, or --all for all gems"
        required: true
      flags:
        description: "Extra flags to pass to toys owlbot"
        required: false

jobs:
  OwlBot:
    if: ${{ github.repository == 'googleapis/google-cloud-ruby' }}
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.YOSHI_CODE_BOT_TOKEN }}
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2
    - name: Install Ruby 3.0
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "3.0"
    - name: Install tools
      run: |
        git config --global user.email "70984784+yoshi-code-bot@users.noreply.github.com"
        git config --global user.name "Yoshi Code Bot"
        gem install --no-document toys
    - name: OwlBot
      run: |
        toys owlbot -v --pull --remote=origin ${GITHUB_EVENT_INPUTS_FLAGS} ${GITHUB_EVENT_INPUTS_GEMS}
      env:
        GITHUB_EVENT_INPUTS_FLAGS: ${{ github.event.inputs.flags }}
        GITHUB_EVENT_INPUTS_GEMS: ${{ github.event.inputs.gems }}
