name: OwlBot Manual Run

on:
  workflow_dispatch:
    inputs:
      gems:
        description: "List of gems, or --all for all gems"
        required: true
      flags:
        description: "Extra flags to pass to toys owlbot"
        required: false

jobs:
  OwlBot:
    if: ${{ github.repository == 'googleapis/google-cloud-ruby' }}
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.YOSHI_CODE_BOT_TOKEN }}
      GOOGLEAPIS_GEN_GITHUB_TOKEN: ${{ secrets.YOSHI_APPROVER_PRIVATE_TOKEN }}
    steps:
    - name: Checkout repo
      uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
    - name: Install Ruby 3.2
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "3.2"
    - name: Install tools
      run: |
        gem install --no-document toys
    - name: OwlBot
      run: |
        toys owlbot -v --pull --fork ${{ github.event.inputs.flags }} ${{ github.event.inputs.gems }}
