name: Update-Release-Levels
on:
  workflow_dispatch:
    inputs:
      args:
        description: "Extra command line arguments."
        required: false

jobs:
  update-release-levels:
    if: ${{ github.repository == 'googleapis/google-cloud-ruby' }}
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.YOSHI_CODE_BOT_TOKEN }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Install Ruby 3.3
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"
      - name: Install tools
        run: |
          gem install --no-document toys
      - name: execute
        run: |
          toys update-release-levels --fork ${GITHUB_EVENT_INPUTS_ARGS}
        env:
          GITHUB_EVENT_INPUTS_ARGS: ${{ github.event.inputs.args }}
