name: Update Pull Request

on:
  workflow_dispatch:
    inputs:
      pr:
        description: "Pull request number"
        required: true
      options:
        description: "Options"
        required: false

jobs:
  OwlBot:
    if: ${{ github.repository == 'googleapis/google-cloud-ruby' }}
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.YOSHI_CODE_BOT_TOKEN }}
    steps:
    - name: Checkout repo
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
    - name: Install Ruby 3.2
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "3.2"
    - name: Install tools
      run: |
        gem install --no-document toys
    - name: Update PR
      run: |
        toys update-pr -v ${{ github.event.inputs.options }} ${{ github.event.inputs.pr }}
