name: Update Pull Request

on:
  workflow_dispatch:
    inputs:
      pr:
        description: "Pull request number"
        required: true
      options:
        description: "Options"
        required: false

jobs:
  UpdatePR:
    if: ${{ github.repository == 'googleapis/google-cloud-ruby' }}
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
      packages: read
      pull-requests: read
    steps:
    - name: Checkout repo
      uses: actions/checkout@v6
    - name: Install Ruby 3.3
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "3.3"
    - name: Install tools
      run: |
        gem install --no-document toys
    - name: Update PR
      run: |
        toys update-pr -v ${GITHUB_EVENT_INPUTS_OPTIONS} ${GITHUB_EVENT_INPUTS_PR}
      env:
        GITHUB_EVENT_INPUTS_OPTIONS: ${{ github.event.inputs.options }}
        GITHUB_EVENT_INPUTS_PR: ${{ github.event.inputs.pr }}
