# Ignore bundler lockfiles
Gemfile.lock
gems.locked

# Ignore documentation output
doc/*
.yardoc/*

# Ignore test output
coverage/*

# Ignore build artifacts
pkg/*

# Ignore files commonly present in certain dev environments
.vagrant
.DS_STORE
.idea
*.iml

# Ignore synth output
__pycache__
